<div class="mb-3">
  <label for="filterText" class="form-label">Ürün Arama</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="arama ifadesi giriniz..."
  />
</div>

<ul class="list-group">
  <li class="list-group-item" routerLink="/cars">Tüm ürünler</li>
  <li
    (click)="setCurrentBrand(brand)"
    routerLink="/cars/brand/{{ brand.id }}"
    *ngFor="let brand of brands | brandfilter : filterText"
    [class]="getCurrentBrandClass(brand)"
  >
    {{ brand.brandName }}
  </li>
</ul>
<h5 *ngIf="currentBrand">{{ currentBrand.brandName }} seçtiniz</h5>
